@font-face {
  font-family: 'TT Lakes';
  src: url('./TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}

*{
  margin: 0;
  padding: 0;
}

body {
  box-shadow: 16px 0px 52px #0E185033;
  width: 320px;
  /* height: 100%; */
  font-family: 'TT Lakes';
  font-weight: normal;
  font-style: normal;
  padding-left: 24px;  

}

/*HEADER*/
.header{
  position: relative;
  padding-left: 24px;
}

.header__icons{
  display: inline-block;
  margin-top: 23px;
}

.header__burger{
  /* margin-left:24px; */
  margin-right: 16px;
}

.header__logo{
  margin-top: 18.73px;
  margin-right: 70px;
}

.header__search{
  margin-right: 24px;
}



/*MAIN*/

ul {
  list-style-type: none;
}


.main__container{
  position: relative;
  width: 320px;
 padding-left: 10px;
  margin-top: 46px;
 

  
}

.main__list{
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
  color:#1B1C21;  

  
}


/*FOOTER*/

.contacts{
  position: relative;
  margin-top: 268px;
  padding-bottom: 32px;
}
.contact__icon{

  display: inline-block;
  margin-right: 16px;
  
}

.contacts__chat{
  left: 56px
}
.contacts__profile{
  left: 112px;
}

.contacts__mail,
.contacts__phone,
.contacts__language{
 position: relative;
}
.contacts__mail{
  top: 20px
}
.contacts__phone{
  top: 22px;
}
.contacts__language{
display: flex;
margin-top: 30px;

}

.contacts__language > div {
  padding-right: 7px;
}


/*ButtonStyle*/
.icon-style{
    padding: 0px;
    border-radius: 20%;
    border: none;
    cursor: pointer;
    transition: filter 0.5s ease;
    transition: all 1s ease;
}
.icon-style:hover {
  filter: brightness(66%);
  transform: rotate(360deg)
}



li {
  padding-left: 2px;
  border-left: 2px solid transparent;
  cursor: pointer;
  transition: border-right-color 0.5s ease;
  transition: background-color 0.1s ease;
  transition: color 0.1s ease;
  transition: all 1s ease;
  

}

li:hover {
  border-left-color: #41F6D7;
  background-color: #ffffff;
  color: #7E7E82;
  filter: brightness(90%);
  transform: scale(1.2)
}

.contacts__phone,
.contacts-style,
.contacts__mail{
  transition: all 1s ease;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.contacts__phone:hover,
.contacts__mail:hover{
  transform: scale(1.2)
}

.contacts-style:hover{
  color: #7E7E82;
}
