@font-face {
  font-family: 'TT Lakes';
  src: url('./TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}


.webcore{
  font-family: 'TT Lakes';
  font-weight: normal;
  font-style: normal;

  
}

*{
  margin: 0;
  padding: 0;
}

.webcore{
  width: 100%
  /* height: 597px;
  border: 1px solid black; */
}

.header{
  display: flex;
  /* width: 320px;
  height: 88px; */
    /* border: 1px solid red; */
  justify-content: space-between;
  
}
.header__group3,
.header__group1, 
.header__group2 {
  display: flex;
  /* border: 1px solid green;   */
}

.menu__button2-1,
.header__comment,
.header__status-repair,
.header__group3,
.header__divider1{
  display: none;
}




.image-style{
  display: flex;
  margin: 24px 0px 24px 0px;
}

.logo-style{
  margin-top: 18.59px;
  margin-left: 16.73px;
  margin-right: 16.73px;
}

.header__burger{
  margin-left: 16px;
}
.header__icon-repair{
  margin-left: 20px;
   
}

.header___icon-search{
  margin-left: 16px;
  
}

.header__icon{
  margin-left: 16px;
}

.menu,
.container{
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
 /* background-color: #F8F8F8; */
}

.menu__container{
  display:flex;
  /* width: 304px;
  height: 40px; */
  margin: 24px 16px 24px 0px;
  /* border: 2px solid yellow */
}

.menu__title{
  /* width: 288px;
  height: 40px; */
  font-size: 23px;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  font-weight: normal;
  font-style: normal; 
  

  /* border: 1px solid red; */
  margin-left: 12px;
}

.menu__buttons{
  display: flex;
  width: 330px;
  overflow: hidden;
/* border: 2px solid red */
}

.menu__button1 {
  width: 246px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #B8FFEC;
  margin: 24px 0px 24px 16px
}

.menu__button2 {
  width: 246px;
  height: 40px;
  margin: 24px 0px 24px 16px
}

.menu__repair{
  width: 220.16px;
  height: 24px;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
 
  background-color: transparent; 
  /* border: 2px solid blueviolet;  */
  margin: 8px 9.3px 8px 16.54px;
  

}

.button-style{
  width: 220.16px;
  height: 24px;
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82; 
  background-color: transparent;
  border: none; 
  margin: 8px 0px 8px 0px;
}

.container{
  /* width: 320px;
  height: 322px; */
  margin: 0px 16px 0px 0px
  
}

.container__text{
  /* width: 288px; */
  height: 90px;
  overflow: hidden; 
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-left: 16px;
  margin-bottom: 16px;
  margin-right: 48px;
}

.container__readbutton{
  margin: 0px 172px 16px 0px;

}








/*Adapt vers 768px*/

@media (min-width: 768px){

  .header{
    display: flex;
    width: 768px;
    height: 88px;
    justify-content: space-between;    
  }
   
  .header__icon-style{
    margin-left: 16px
  }

  .header__group3,
  .header__divider1{
    margin-left: 20px;
    display: flex;
  }
  
  .header__group2{
    order: 3
  }
  .header__group3{
    order: 2;
    margin: 0px 20px 0px 290px;
  }  
  
  .image-style{
    display: flex;
    margin: 24px 0px 24px 0px;
  }
  
  .logo-style{
    
    /* margin-left: 16.73px; */
    margin-right: 16.73px;
  }
  
  .header__icon-repair{
    margin-left: 20px
    
  }
  
  .header___icon-search{
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .header__icon{
    margin-left: 16px;
  }


.menu__buttons{
  display: flex;
  width: 768px;
  overflow: hidden;
/* border: 2px solid red */
}

.header__burger{
  margin-left: 24px;

}

.menu__button2-1,
.menu__button3,
.menu__button4,
.menu__button5 {
  width: 246px;
  height: 40px;
  margin: 24px 0px 24px 16px
}

  .container__content{
    display:flex;
 
  }

  .container{
    width: 768px;
    display: flex;
    /* border: 2px solid; */
    flex-direction: row;
    flex-wrap:wrap;

  }
  .container__text{
    width: 319px;
    height: 149px;
    overflow: hidden; 
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-left: 16px;
    margin-bottom: 16px;
    
  }
  
  .container__readbutton{
    margin: 0px 172px 16px 16px;
    order: 3;
    margin-top: -40px
  }
}
  .container__image{
    width: 360px;
    height: 208px;
  }
  .container__picture{
    width: 100%;
    height: 100%;
    border-top-left-radius: 7%; 
  }
  
  
  @media (min-width: 1120px) {
    .header{
      display: flex;
      width: 1120px;
      height: 88px;
      justify-content: flex-end;    
    }

    
    .header__divider1,
    .header__group1,
    .header__group3,
    .header__divider,
    .menu__button2 {
        display: none;
    }

    .menu__button2-1,
    .header__comment,
    .header__status-repair{
      display: flex;
      margin-right: 9px;
    }

    .header__icon-repair,
    .header__icon-search{
      display: flex;
      align-items: center;
      margin-right: 32px;
      margin-top: 42px;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.20000000298023224px;
      text-align: right;

      
    }
    
    .menu__container{
      margin-top: -45px;
    }
    .menu__title{
      margin-left: 32px;
    }

    .menu__buttons{
      display: flex;
      width: 1063px;
      flex-wrap: wrap;
    /* border: 2px solid red */
    }

    .menu__button5,
    .menu__special-price,
    .menu__button2-1,
    .menu__button3,
    .menu__listprice,
    .menu__button4{
      width: auto;
    }
    
    .menu__button2-1{
      margin-right: 0px;
      justify-content: space-between;
    }
    .menu__button6{
      margin-top: -10px;
    }
    .container__text{
      width: 490px;
      height: 160px;
      
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.2px;
      text-align: left;
      margin-left: 16px;
      margin-bottom: 16px;
      
    }
    
     .container{
    width: 1120px;
    display: flex;
    /* border: 2px solid; */
    flex-direction: row;
    flex-wrap:wrap;
     }

    .container__text{
      margin-top: 16px;
      width: 490px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.20000000298023224px;
      text-align: left;
      margin-left: 34px;

    }
    
    .container__image{
      width: 531px;
      height: 307px;
    }
    .container__picture{
      margin-left: 36px;
      
    }

    .container__readbutton{
      margin-top: -100px;
      margin-left: 32px;
    }

  }