@font-face {
  font-family: 'TT Lakes';
  src: url('./TTLakes/TTLakes-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}


.webcore{
  font-family: 'TT Lakes';
  font-weight: normal;
  font-style: normal;
  background-color: #F8F8F8
  
}

*{
  margin: 0;
  padding: 0;
}


.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  
}

.header__group3,
.header__group1, 
.header__group2 {
  display: flex;
}

.header__group2 {
  padding-right: 5%
}

.menu__apprepairs,
.header__comment,
.header__status-repair,
.header__group3,
.header__divider1{
  display: none;
}

.image-style{
  display: flex;
  padding-top: 24px;
  margin-bottom: 24px;
}

.logo-style{
  margin-top: 18.59px;
  padding-left: 16.73px;
}

  .header__icon-style{
    margin-left: 8px;
  }

.header__burger{
  padding-left: 10%;
}
.header__icon-repair{
  margin-left: 20px;
  margin-right: 16px;
   
}

.header___icon-search{
  margin-left: 16px;
  
}

.header__icon{
  margin-left: 16px;
}

.menu,
.container{
;
  display: flex;
  flex-direction: column;
}

.menu__container{
  display:flex;
  margin: 24px 16px 24px 0px;
}

.menu__title{
  font-size: 23px;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  font-weight: normal;
  font-style: normal; 
  padding-left: 2%;
  border-left: 3px solid #41F6D7;

  
  
  
}

.menu__buttons{
  overflow-x: scroll;
  display: flex;
  
}

.menu__buttons::-webkit-scrollbar {
  display: none;          /*Убрал полоску сколла*/
}



.menu__repair{
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: transparent; 
}



.button-style{
  font-family: 'TT Lakes';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82; 
  background-color: transparent;
  border: none; 
  border-radius: 6px;
  margin-bottom: 24px;
  width: 215px;
}


.button-style:hover {
  background-color: #ffffff; 
  color: #7E7E82;
}

.button-style:active,
.button-style:focus:not(:active) {
  border: 2px solid #41F6D7;
  outline: none;
}


.container{
  margin: 0px 16px 0px 0px
 }

.container__text{
  /* overflow: hidden;  */
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
  margin-left: 26px;
  margin-bottom: 16px;
}

.container__readbutton{
  margin: 0px 172px 16px 30px;
}


/*Функция кнопки ReadMe*/
.container__content {
  overflow: hidden;
  max-height: 130px; /* высота текста */
  transition: max-height 0.5s ease;
}

.container__content.expanded {
  max-height: none; /* Развернутый текст */
}

/*Adapt vers 768px*/

@media (min-width: 768px){

   



  .header__divider1{
    margin-left: 20px;
    display: flex;
  }
  
  .header__group2{
    order: 3;
  
    
    
  }
  .header__group3{
    display: flex;
    order: 2;
    margin-left: 38%;
    /* padding-left: 0px 0px 0px 360px; */
  }  
  
  .image-style{
    display: flex;
    /* padding-right: 24px; */
  }
  
  .logo-style{
    
    margin-right: 16.73px;
  }
  
  .header__icon-repair{
    margin-left: 20px
    
  }
  
  .header___icon-search{
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .header__icon{
    margin-left: 16px;
  }


.menu__buttons{
  display: flex;
  justify-content: space-between;
}



.menu__extraservice,
.menu__listprices,
.menu__adressservice,
.menu__specialprice {
  width: auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container__content {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.container__text {
 flex: 1;
}

.container__readbutton {
  order: 2;

}

.container__image {
  margin-left: 5%; 
  width: 50%
  
}

.container__picture {
  width: 100%;
}

.container__readbutton {
  margin-top: -1%;
}

.hidden {
  margin-top: -8%;
}

}

@media (min-width: 1120px) {
  .menu__container{
    margin-top: -45px;
  }

  .header{
    display: flex;
    height: 88px;
    justify-content: flex-end;    
    background-color: #F8F8F8;
  }

  .header__group2{
    padding-right: 0;
  }

  
  .header__divider1,
  .header__group1,
  .header__group3,
  .header__divider,
  .menu__extraservice {
      display: none;
  }

  .menu__apprepair,
  .header__comment,
  .header__status-repair{
    display: flex;
    margin-right: 9px;
  }

  .header__icon-repair,
  .header__icon-search{
    display: flex;
    align-items: center;
    margin-right: 32px;
    margin-top: 42px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: right;

    
  }
  
  
  .container__readbutton {
    margin-top: -11%;
  }
  
  .hidden {
    margin-top: -15%;
  }
}

